AUTOMATION n8n.json
{
  "name": "AUTOMATION n8n",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1MUpV634BHbGbsQlG_WaPeNQ2lZLsZ_t8",
          "mode": "list",
          "cachedResultName": "n8n Demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1MUpV634BHbGbsQlG_WaPeNQ2lZLsZ_t8"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        -1152
      ],
      "id": "1069fd39-e8b9-4170-870e-839b1ad07bc6",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NJ4Uzu92OauuxWKR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.fileId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -592,
        -1152
      ],
      "id": "d7cb3627-b40e-47f6-a134-9b33a68e4f19",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NJ4Uzu92OauuxWKR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$binary.data.fileExtension}}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "81850d00-4743-4e82-9c88-1e0fca052594"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "36dc0390-4f69-440f-b1b1-2b9dd5438fa1",
                    "leftValue": "={{$binary.data.fileExtension}}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOCX"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4eda2796-993c-482d-a686-75d5bd9ef350",
                    "leftValue": "={{$binary.data.fileExtension}}",
                    "rightValue": "pdf, docx",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "none",
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        -1168
      ],
      "id": "c4f9fbff-c3d9-47b9-92bc-ec5e20a12e15",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": true,
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        112,
        -1520
      ],
      "id": "bf0b6004-93f2-4d27-a468-5ba2863d20cd",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v2/files/{{ $json.fileId }}/copy?convert=true&supportsAllDrives=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "id": "bd961b89-345a-4156-b4b8-4fd5afec857c",
      "name": "Convert Word to Google Docs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        112,
        -960
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NJ4Uzu92OauuxWKR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Convert Word to Google Docs').item.json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        432,
        -1184
      ],
      "id": "3c2f0895-4aec-42e2-ba99-21bb70596a60",
      "name": "Read Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "nBJjY8ATwxaWEtEQ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      content: $input.first().json.content || $input.first().json.text\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -1392
      ],
      "id": "f7eb9d53-244d-4b6f-8028-2b96434341d3",
      "name": "Normalize Text"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        880,
        -1216
      ],
      "id": "2a306404-4261-48d8-9b15-cfaf72adb7c4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PO95CTzpeFCpzLgD",
          "name": "Google Gemini(PaLM) Api Minh Hieu"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "=Analyze the following document and classify it into exactly one of these categories:\n\n- Contract\n- Report\n- Invoice\n- Agreement\n- Application Form\n- CV\n- Other\n\nRequirements:\n- The \"category\" field MUST be exactly one of the categories listed above (spelled exactly the same).\n- Respond ONLY with a valid JSON object (no markdown, no code block, no extra text).\n- The JSON must have exactly 2 fields:\n   - \"category\": the classification result\n   - \"reasoning\": a short explanation (max 3 sentences)\n\nExample:\n{\n  \"category\": \"Contract\",\n  \"reasoning\": \"This document contains obligations, parties, and signature sections typical of a contract.\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        880,
        -1392
      ],
      "id": "00088e97-9f3c-43d3-adb1-d5fbd436e724",
      "name": "AI Classifier Gemini"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || \"\";\n\n// Xóa code block nếu có\nconst cleaned = raw.replace(/```json|```/g, \"\").trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = { category: \"Other\", reasoning: \"Failed to parse AI output\" };\n}\n\n// Đảm bảo return đúng format n8n yêu cầu\nreturn [\n  {\n    json: parsed || {}\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -1392
      ],
      "id": "9241b27e-704d-4209-9a57-b6dd9475daf3",
      "name": "Parse AI Output"
    },
    {
      "parameters": {
        "jsCode": "const category = $input.first().json.category;\n\n// Nếu category không có thì throw error\nif (!category) {\n  throw new Error(\"Category not found in input: \" + JSON.stringify($input.first().json));\n}\n\n// Trả về dưới dạng item cho n8n\nreturn [{ json: { category } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -1392
      ],
      "id": "7dab4b02-85ba-4f34-8f06-a6029c25f8c8",
      "name": "Get Category"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{$json[\"fileId\"]}}/export?mimeType=application/pdf",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        -672
      ],
      "id": "fd96e9f7-9a6d-447b-9beb-114cca4609c7",
      "name": "Convert to PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NJ4Uzu92OauuxWKR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74b29ec7-61f9-443a-9a1f-8bcb343280f1",
              "name": "fileId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        -1152
      ],
      "id": "715f7188-7b2a-483b-85d9-897094849e1a",
      "name": "Store FileId"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10iOoI5QGvMeTyGChmGwjnBgA109Q5ymSU0ggu8-Fv2k",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10iOoI5QGvMeTyGChmGwjnBgA109Q5ymSU0ggu8-Fv2k/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=Category",
              "lookupValue": "={{ $json.category }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1680,
        -1392
      ],
      "id": "aa58ee33-3e76-4a4c-a635-c89718202e15",
      "name": "Lookup Email",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C4OkO2ehblyhZwv0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\n// Trường hợp DOCX đã convert thành PDF (node \"Convert to PDF\")\nif (item.binary && item.binary.data) {\n  return [\n    {\n      json: item.json,\n      binary: {\n        data: item.binary.data, // giữ nguyên binary của Convert to PDF\n      },\n    },\n  ];\n}\n\n// Trường hợp file gốc đã là PDF (node \"Download file\")\nif (item.binary && item.binary.file) {\n  return [\n    {\n      json: item.json,\n      binary: {\n        data: item.binary.file, // đổi binary.file thành data\n      },\n    },\n  ];\n}\n\n// fallback nếu không tìm thấy binary\nreturn [\n  {\n    json: { error: 'No PDF found in input' },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -944
      ],
      "id": "51cf01fb-e5ae-4dfe-b58a-709fffa9e65f",
      "name": "Normalize PDF"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2016,
        -1136
      ],
      "id": "40741763-409f-4ca8-9775-a7bda9833bd4",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Tài liệu cần duyệt - {{ $('Get Category').item.json.category }}",
        "message": "Xin chào, vui lòng ký tài liệu đính kèm.",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2288,
        -1136
      ],
      "id": "79bf3c31-77ce-478a-ab81-e36676b9e95d",
      "name": "Send mail",
      "webhookId": "411c3e52-8217-477e-aae3-b064c616a1d7",
      "credentials": {
        "gmailOAuth2": {
          "id": "hFJgfd6P2N1ulWFu",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\n// Lấy tên gốc từ json (Google Drive thường có 'name')\nlet originalName = item.json.name || \"document\";\n\n// Đổi phần mở rộng thành .pdf\nlet newName = originalName.replace(/\\.[^/.]+$/, \"\") + \".pdf\";\n\n// Nếu binary có dữ liệu thì set lại tên file\nif (item.binary && item.binary.data) {\n  item.binary.data.fileName = newName;\n}\n\nreturn [item];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -672
      ],
      "id": "6c23585d-3519-4327-a565-d6f1a85cc870",
      "name": "Rename PDF"
    },
    {
      "parameters": {
        "sendTo": "holuuduc0104@gmail.com",
        "subject": "File không hợp lệ",
        "message": "=File bạn vừa upload có định dạng {{$binary.data.fileExtension}}, hệ thống chỉ hỗ trợ PDF hoặc DOCX.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        112,
        -432
      ],
      "id": "026c59b2-725b-463b-ae79-1bb1b3345b21",
      "name": "Send a message when fail",
      "webhookId": "7858e8e4-1a1e-4ad7-922d-7cd201d29b6e",
      "credentials": {
        "gmailOAuth2": {
          "id": "hFJgfd6P2N1ulWFu",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n \"Invoice date\": { \"type\": \"date\" },\n \"invoice number\": { \"type\": \"string\" },\n \"Purchase order number\": { \"type\": \"string\" },\n \"Supplier name\": { \"type\": \"string\" },\n \"Supplier address\": {\n \"type\": \"object\",\n \"properties\": {\n \"address 1\": { \"type\": \"string\" },\n \"address 2\": { \"type\": \"string\" },\n \"city\": { \"type\": \"string\" },\n \"postcode\": { \"type\": \"string\" }\n }\n },\n \"Supplier VAT identification number\": { \"type\": \"string\" },\n \"Customer name\": { \"type\": \"string\" },\n \"Customer address\": {\n \"type\": \"object\",\n \"properties\": {\n \"address 1\": { \"type\": \"string\" },\n \"address 2\": { \"type\": \"string\" },\n \"city\": { \"type\": \"string\" },\n \"postcode\": { \"type\": \"string\" }\n }\n },\n \"Customer VAT identification number\": { \"type\": \"string\" }, \n \"Shipping addresses\": {\n \"type\": \"array\",\n \"items\": {\n \"type\": \"object\",\n \"properties\": {\n \"address 1\": { \"type\": \"string\" },\n \"address 2\": { \"type\": \"string\" },\n \"city\": { \"type\": \"string\" },\n \"postcode\": { \"type\": \"string\" }\n }\n }\n },\n \"Line items\": {\n \"type\": \"array\",\n \"items\": {\n \"name\": \"string\",\n \"description\": \"string\",\n \"price\": \"number\",\n \"discount\": \"number\"\n }\n },\n \"Subtotal without VAT\": { \"type\": \"number\" },\n \"Subtotal with VAT\": { \"type\": \"number\" },\n \"Total price\": { \"type\": \"number\" }\n}"
      },
      "id": "8491d070-3383-49ba-b854-672d180ed47f",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        800,
        240
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/parsing/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=attachment_0"
            }
          ]
        },
        "options": {}
      },
      "id": "5cedfc87-551c-40fe-80f5-0448d69183e5",
      "name": "Upload to LlamaParse",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -176,
        176
      ],
      "typeVersion": 4.2,
      "retryOnFail": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Op2kOKYYyx5MXsrJ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "has:attachment",
          "sender": "trinh123profc@gmail.com"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "02141907-b6c4-4f67-b810-a6cd30506651",
      "name": "Receiving Invoices",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        -1024,
        160
      ],
      "typeVersion": 1,
      "credentials": {
        "gmailOAuth2": {
          "id": "ZZfRoY9XUWMYPYkE",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dHhjvw6_wFWpHN5q1iB6PvVRmZjRLuIOCVrdyUoKbMU",
          "mode": "list",
          "cachedResultName": "tax - log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dHhjvw6_wFWpHN5q1iB6PvVRmZjRLuIOCVrdyUoKbMU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "invoice_date",
              "displayName": "invoice_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "purchase_order_number",
              "displayName": "purchase_order_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "supplier_name",
              "displayName": "supplier_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "supplier_address",
              "displayName": "supplier_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "supplier_vat_identification_number",
              "displayName": "supplier_vat_identification_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_address",
              "displayName": "customer_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_vat_identification_number",
              "displayName": "customer_vat_identification_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "shipping_addresses",
              "displayName": "shipping_addresses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "line_items",
              "displayName": "line_items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtotal_without_vat",
              "displayName": "subtotal_without_vat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vat_amount",
              "displayName": "vat_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_price_with_vat",
              "displayName": "total_price_with_vat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "485aed00-d8ab-42f9-bb5e-edc405c9bfe1",
      "name": "Append to Reconciliation Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1168,
        80
      ],
      "typeVersion": 4.3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zMehfWBtU0UbgVAp",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "e5d49715-309e-47fe-91bf-194ce48e99ec",
      "name": "Get Processing Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        176
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Op2kOKYYyx5MXsrJ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "88789636-315a-49b9-9d59-c5cb819ab9dd",
      "name": "Wait to stay within service limits",
      "type": "n8n-nodes-base.wait",
      "position": [
        320,
        320
      ],
      "webhookId": "17a96ed6-b5ff-47bb-a8a2-39c1eb40185a",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "300fce8c-b19a-4d0c-86e8-f62853c70ce2",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "SUCCESS"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "SUCCESS"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "e6058aa0-a3e2-4ce3-9bed-6ff41a5be052",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "ERROR"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ERROR"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ceb6338f-4261-40ac-be11-91f61c7302ba",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "CANCELED"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "CANCELED"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "0fa97d86-432a-409a-917e-5f1a002b1ab9",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "PENDING"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "PENDING"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "id": "6484c2ad-a9a6-4716-88e2-97f4bec9817f",
      "name": "Is Job Ready?",
      "type": "n8n-nodes-base.switch",
      "position": [
        160,
        176
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}/result/markdown",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "03b6597f-836c-48a1-8720-58b79008c747",
      "name": "Get Parsed Invoice Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        352,
        32
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Op2kOKYYyx5MXsrJ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output }}",
        "options": {}
      },
      "id": "41f4e32e-45b3-4d7e-8cbc-3d426401103c",
      "name": "Map Output",
      "type": "n8n-nodes-base.set",
      "position": [
        960,
        80
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given the following invoice in the <invoice> xml tags, extract the following information as listed below.\nIf you cannot the information for a specific item, then leave blank and skip to the next. \n\n* Invoice date\n* invoice number\n* Purchase order number\n* Supplier name\n* Supplier address\n* Supplier VAT identification number\n* Customer name\n* Customer address\n* Customer VAT identification number\n* Shipping addresses\n* Line items, including a description of the goods or services rendered\n* Price with and without VAT\n* Total price\n\n<invoice>{{ $json.markdown }}</invoice>",
        "hasOutputParser": true
      },
      "id": "d0f10ccc-771e-47f8-bf03-62b69b70b95a",
      "name": "Apply Data Extraction Rules",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        624,
        80
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e5649a2b-6e12-4cc4-8001-4639cc9cc2c2",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $input.item.binary.attachment_0.mimeType }}",
              "rightValue": "application/pdf"
            },
            {
              "id": "4c57ab9b-b11c-455a-a63d-daf48418b06e",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              },
              "leftValue": "={{ $json.labels }}",
              "rightValue": "invoice synced"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5358b07a-33c3-471b-8735-20dcc6a978eb",
      "name": "Should Process Email?",
      "type": "n8n-nodes-base.if",
      "position": [
        -464,
        160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fieldToSplitOut": "labelIds",
        "options": {}
      },
      "id": "e1f2e097-2d6e-4c13-aa8c-dca6e354355b",
      "name": "Split Out Labels",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -816,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "get",
        "labelId": "={{ $json.labelIds }}"
      },
      "id": "9a3566b2-971e-43f0-8038-20215b86bb99",
      "name": "Get Labels Names",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -816,
        304
      ],
      "typeVersion": 2.1,
      "webhookId": "513f70ed-9f21-44e0-8409-defd7eb8b4d4",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZZfRoY9XUWMYPYkE",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name",
              "renameField": true,
              "outputFieldName": "labels"
            }
          ]
        },
        "options": {}
      },
      "id": "422af604-2839-4f4c-be59-cd4f6cc927fb",
      "name": "Combine Label Names",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -816,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "ff5b11cb-17d8-41a2-b2c0-3e7246a8b1bb",
      "name": "Email with Label Names",
      "type": "n8n-nodes-base.merge",
      "position": [
        -640,
        160
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n",
        "height": 182,
        "width": 176
      },
      "id": "b70403d9-7cde-4e0d-97a5-930953707a53",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "",
        "height": 205,
        "width": 258
      },
      "id": "f7fe1977-0f50-4b2f-b158-2eb95e689bfa",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n",
        "height": 179,
        "width": 159
      },
      "id": "05e2f713-a054-469f-9356-ea3b4510bc80",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        256
      ],
      "id": "ec99590c-6943-403c-9cac-37919a5ff1aa",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "PO95CTzpeFCpzLgD",
          "name": "Google Gemini(PaLM) Api Minh Hieu"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "SubmitFile",
        "formFields": {
          "values": [
            {
              "fieldLabel": "file",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -864,
        1168
      ],
      "id": "cd6136b1-5f85-4fde-9587-419d72468e19",
      "name": "On form submission",
      "webhookId": "408e4469-2221-414e-84d0-82afdaa9393d"
    },
    {
      "parameters": {
        "inputDataFieldName": "=file",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Mm1j6q9LKVbJimHNWxTnDS3WM1VbE6FX",
          "mode": "list",
          "cachedResultName": "INBOX",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Mm1j6q9LKVbJimHNWxTnDS3WM1VbE6FX"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -688,
        1168
      ],
      "id": "ed8ca54f-b33f-4533-af92-72d20535d4a3",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z69OaGg2SbHrmow7",
          "name": "Google Drive Minh Hieu"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -32,
        1056
      ],
      "id": "abd2f764-5df0-4bda-9771-0b00daa3bf1f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name = \"{{ $json.category }}\" and mimeType = \"application/vnd.google-apps.folder\" and \"17F7aC2cJ1pV5TIKbwL_JGydBzdnmYwP-\" in parents\n",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1456,
        1088
      ],
      "id": "115fed49-1be7-4fbb-b49f-24e1b717fd08",
      "name": "Search files and folders1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z69OaGg2SbHrmow7",
          "name": "Google Drive Minh Hieu"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const category = $input.first().json.category;\n\n// Nếu category không có thì throw error\nif (!category) {\n  throw new Error(\"Category not found in input: \" + JSON.stringify($input.first().json));\n}\n\n// Trả về dưới dạng item cho n8n\nreturn [{ json: { category } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        1088
      ],
      "id": "cd181052-cf5f-40a2-9989-72c097d9bb1f",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9c73aa2-0e57-46ca-90ac-6ad3ccf20df8",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        1088
      ],
      "id": "3f7c85a6-7850-4338-b92f-3c62af1c6b64",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Upload file').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1968,
        864
      ],
      "id": "36508aa4-6f45-49b2-bf3c-414ab4bd4701",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z69OaGg2SbHrmow7",
          "name": "Google Drive Minh Hieu"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Code in JavaScript4').item.json.category }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "17F7aC2cJ1pV5TIKbwL_JGydBzdnmYwP-",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1920,
        1344
      ],
      "id": "be3f3327-5486-4526-88a1-e2bc56f56f10",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z69OaGg2SbHrmow7",
          "name": "Google Drive Minh Hieu"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Upload file').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2128,
        1344
      ],
      "id": "24af766b-db42-43db-bb3b-7079511e66df",
      "name": "Move file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z69OaGg2SbHrmow7",
          "name": "Google Drive Minh Hieu"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Download file1').item.json.fullFileExtension }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bb9d14e2-31fb-42aa-ace4-c935ac113352"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b50ac025-0c63-44d9-a232-ac83a2140f8e",
                    "leftValue": "={{ $('Download file1').item.json.fullFileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -240,
        1168
      ],
      "id": "63ccdea0-0626-4ca1-b79f-eb603c0d35bc",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "// Lấy nội dung văn bản từ input\nconst text = $('define cotent').first().json.content;\n\n// Danh sách regex PII\nconst regexPatterns = {\n  \"Email\": /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-z]{2,}/g,\n  \"Phone\": /\\b(03|05|07|08|09)\\d{8}\\b/g,\n  \"Vietnam ID (CCCD/CMND)\": /\\b\\d{12}\\b/g,\n  \"Credit Card\": /\\b\\d{4}[- ]?\\d{4}[- ]?\\d{4}[- ]?\\d{4}\\b/g\n};\n\n// Biến lưu kết quả\nlet piiDetected = false;\nlet piiTypes = [];\nlet matches = {};\n\n// Kiểm tra từng regex\nfor (const [type, pattern] of Object.entries(regexPatterns)) {\n  const found = text.match(pattern);\n  if (found) {\n    piiDetected = true;\n    piiTypes.push(type);\n    matches[type] = [...new Set(found)]; // tránh trùng lặp\n  }\n}\n\n// Trả kết quả ra JSON\nreturn [\n  {\n    json: {\n      pii_detected: piiDetected,\n      pii_types: piiTypes,\n      matches: matches\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        1056
      ],
      "id": "fa42183d-cd1d-4780-99d6-ef2c7c206a5d",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      content: $input.first().json.content || $input.first().json.text\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1056
      ],
      "id": "15f47281-2a59-4bdf-ac6f-f0ffa71b0aea",
      "name": "define cotent"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output\n\n// Xóa code block nếu có\nconst cleaned = raw.replace(/```json|```/g, \"\").trim();\n\n// Parse JSON\nconst parsed = JSON.parse(cleaned);\n\nreturn parsed;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1088
      ],
      "id": "74fe658f-f8d8-40cf-9cd9-ba79338a42d3",
      "name": "refactor output"
    },
    {
      "parameters": {
        "jsCode": "// Lấy raw output từ AI, mặc định là chuỗi rỗng nếu null/undefined\nlet raw = $input.first()?.json?.output || \"\";\n\n// Kiểm tra nếu raw là chuỗi hợp lệ trước khi xử lý\nif (typeof raw === 'string' && raw.trim()) {\n  // Xóa \"json\" và dấu |, sau đó trim\n  raw = raw.replace(/json|/g, \"\").trim();\n\n  // Cắt lấy phần JSON đầu tiên (từ { ... })\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  let parsed;\n\n  if (match) {\n    try {\n      parsed = JSON.parse(match[0]); // Chỉ parse phần JSON hợp lệ\n    } catch (e) {\n      parsed = { error: \"Invalid JSON\", raw: match[0] };\n    }\n  } else {\n    parsed = { error: \"No JSON found\", raw };\n  }\n\n  // Trả ra JSON sạch\n  return [{ json: parsed }];\n} else {\n  // Trường hợp raw là null, undefined hoặc chuỗi rỗng\n  return [{ json: { error: \"No valid output found\", raw: \"\" } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2976,
        1056
      ],
      "id": "da664247-524f-490f-8f10-d44f16dc5239",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a23872ba-c8d5-49bd-903b-4a785320baa9",
              "leftValue": "={{ $json.pii_detected }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3248,
        1056
      ],
      "id": "a90b167e-0aad-49c2-b012-4ae781a170e8",
      "name": "If1"
    },
    {
      "parameters": {
        "sendTo": "minhhieuleviet@gmail.com",
        "subject": "={{ $('refactor output').item.json.category }}",
        "message": "={{ $('refactor output').item.json.reasoning }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=data"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3728,
        960
      ],
      "id": "78fa60c5-b25c-4317-b4a4-eb0d6d9108fa",
      "name": "Send a message",
      "webhookId": "07b3f1cf-5912-4cbf-8548-9d43ec251466",
      "credentials": {
        "gmailOAuth2": {
          "id": "9WVt5brfbDki11Ly",
          "name": "Gmail account Minh Hieu"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lấy item đầu tiên từ node Download file\nconst prevItem = $('Download file1').first();\n\n// Lấy binary từ node Download file\nconst binaryData = prevItem.binary.data; // Thay 'data' nếu property khác\n\n// Gắn binary vào tất cả items hiện tại\nreturn $input.all().map(item => {\n  item.binary = {\n    data: binaryData // Gắn binary với property 'data'\n  };\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3488,
        960
      ],
      "id": "52585646-060f-49a4-bbf4-f49d011f019a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Upload file').item.json.owners[0].emailAddress }}",
        "subject": "N8N",
        "message": "=Chua Thong Tin Ca Nhan",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3504,
        1152
      ],
      "id": "60bcb6fc-9d8e-4bb4-959d-94153ea02c63",
      "name": "Send a message2",
      "webhookId": "07b3f1cf-5912-4cbf-8548-9d43ec251466",
      "credentials": {
        "gmailOAuth2": {
          "id": "9WVt5brfbDki11Ly",
          "name": "Gmail account Minh Hieu"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2592,
        1296
      ],
      "id": "0679ee69-6121-4dd5-983e-b097639c6e56",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "PO95CTzpeFCpzLgD",
          "name": "Google Gemini(PaLM) Api Minh Hieu"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -496,
        1168
      ],
      "id": "eea08491-e743-41e9-b0be-89a029727075",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z69OaGg2SbHrmow7",
          "name": "Google Drive Minh Hieu"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v2/files/{{ $json.id }}/copy?convert=true&supportsAllDrives=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "id": "e86b58bc-c36d-4219-a64d-935eecaca76d",
      "name": "Convert Word to Google Docs1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -32,
        1296
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z69OaGg2SbHrmow7",
          "name": "Google Drive Minh Hieu"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        192,
        1296
      ],
      "id": "f770dd5f-9ee3-49df-b644-371648b1815c",
      "name": "Read Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "BAGvxdPEROzgfRxP",
          "name": "Google Docs Minh Hieu"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        1312
      ],
      "id": "7ad0edad-ff36-4b0f-b2c3-20a864570620",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "PO95CTzpeFCpzLgD",
          "name": "Google Gemini(PaLM) Api Minh Hieu"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "=SYSTEM INSTRUCTION:\nYou are a document classification AI. Your task is to analyze documents and return ONLY a JSON object. Do NOT include:\n- <think> tags or thinking process\n- Markdown code blocks (``` symbols)\n- Any explanatory text before or after the JSON\n- Any formatting other than pure JSON\n\nCLASSIFICATION TASK:\nAnalyze the document and classify it into ONE category: Contract, Invoice, Report, Personal Document, or Academic.\n\nCATEGORY DEFINITIONS:\n- Contract: Legal agreements, terms of service, NDAs, employment contracts, MOUs, sales agreements\n- Invoice: Bills, receipts, payment requests, purchase orders, tax documents, financial statements\n- Report: Business reports, analytical documents, project status, performance reviews, technical documentation\n- Personal Document: Personal letters, resumes/CVs, certificates, ID documents, recommendations, applications\n- Academic: Course materials, assignments, research papers, theses, exam papers, syllabi, academic projects, lab reports\n\nANALYSIS CRITERIA:\n1. Document header/letterhead (institutional, corporate, or personal)\n2. Content purpose (educational, financial, legal, informational, personal)\n3. Structure and format (formal report, assignment format, billing format, etc.)\n4. Language and terminology used\n5. Intended audience and use case\n\nOUTPUT FORMAT:\nReturn ONLY this JSON structure with no additional text:\n{\"category\":\"<category_name>\",\"reasoning\":\"<2-3 sentences explaining the classification>\",\"confidence\":\"<high|medium|low>\"}\n\nIMPORTANT: Your entire response must be valid JSON that starts with { and ends with }. Nothing else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        656,
        1088
      ],
      "id": "0e96837a-707e-4384-93be-b3a309791bbb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('define cotent').item.json.content }}",
        "options": {
          "systemMessage": "=systemMessage = `\nYou are a highly accurate PII checker.\n\nInput:\n1. Original text to analyze:\n${$json.content}\n\n2. Regex detection results (only use these PII types as reference; do not add new types unless explicitly found in text): {{ $json.pii_types }}\n\nTask:\n- Identify Personally Identifiable Information (PII) in the text, but ONLY include types that are present in the regex results' pii_types array.\n- If a type from regex has matches, refine or merge with AI findings (e.g., detect Full Name if related to regex types).\n- Do NOT add new PII types (e.g., Address, Date of Birth) unless they overlap with regex types and are actually found.\n- Avoid duplicates in matches.\n- Only include a type in pii_types if its matches array has at least one entry (non-empty).\n- Set pii_detected to true only if there is at least one non-empty match.\n- Return ONLY valid JSON with 3 fields:\n{\n  \"pii_detected\": true/false,\n  \"pii_types\": [\"Email\", \"Phone\", ...],  // Only types with non-empty matches\n  \"matches\": {\n    \"Email\": [...],\n    \"Phone\": [...],\n    ...  // No empty arrays; omit type if empty\n  }\n}\n- Do NOT include explanations, markdown, or extra text.\n`;"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2624,
        1056
      ],
      "id": "25ffc83b-d18b-4d99-8d2f-bcff33198543",
      "name": "Agent1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Store FileId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Normalize PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert Word to Google Docs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message when fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Word to Google Docs": {
      "main": [
        [
          {
            "node": "Read Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Normalize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Docs": {
      "main": [
        [
          {
            "node": "Normalize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Text": {
      "main": [
        [
          {
            "node": "AI Classifier Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Classifier Gemini",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Classifier Gemini": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Get Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Category": {
      "main": [
        [
          {
            "node": "Lookup Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store FileId": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Rename PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Email": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize PDF": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename PDF": {
      "main": [
        [
          {
            "node": "Normalize PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Output": {
      "main": [
        [
          {
            "node": "Append to Reconciliation Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Job Ready?": {
      "main": [
        [
          {
            "node": "Get Parsed Invoice Data",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Wait to stay within service limits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Labels Names": {
      "main": [
        [
          {
            "node": "Combine Label Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Labels": {
      "main": [
        [
          {
            "node": "Get Labels Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receiving Invoices": {
      "main": [
        [
          {
            "node": "Split Out Labels",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email with Label Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Label Names": {
      "main": [
        [
          {
            "node": "Email with Label Names",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upload to LlamaParse": {
      "main": [
        [
          {
            "node": "Get Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Processing Status": {
      "main": [
        [
          {
            "node": "Is Job Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Process Email?": {
      "main": [
        [
          {
            "node": "Upload to LlamaParse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email with Label Names": {
      "main": [
        [
          {
            "node": "Should Process Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Parsed Invoice Data": {
      "main": [
        [
          {
            "node": "Apply Data Extraction Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Apply Data Extraction Rules",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Apply Data Extraction Rules": {
      "main": [
        [
          {
            "node": "Map Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait to stay within service limits": {
      "main": [
        [
          {
            "node": "Get Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Apply Data Extraction Rules",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "define cotent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Move file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Convert Word to Google Docs1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define cotent": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "refactor output": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Word to Google Docs1": {
      "main": [
        [
          {
            "node": "Read Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Docs1": {
      "main": [
        [
          {
            "node": "define cotent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "refactor output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "335b29f8-84e6-4cd9-ac8f-27c1a0ecf628",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9b55fe257dc85edbb25c8c2ed282b3145ce16aa9f4afa4daa82e0dfc41df3ae"
  },
  "id": "0BP9G9BbchTQEJ15",
  "tags": []
}